
.toptitle {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: clamp(3vw, 4rem, 8vw);
  font-family: Font;
  
}

.message {
  font-family: Font;
  font-size: x-large;
  font-weight: 900;
  background-color:rgba(250, 202, 210, 0.63);
  padding: 1rem;
  border-radius: 1rem;
  max-width: 60vw;
  width: fit-content;
  text-align: center;
}

.main {
  
  height: 100vh;
  width: 100vw;
  background-image: url("/background.png");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
  
}

.wrapper {
  
  margin-top: 1rem;
  width: 100vw;
  display:flex;
  
}

.carousel {
  display: flex;
  width: 100%;
}

.title {
  margin: auto;
  font-size: medium;
  margin-top: 2rem;
  
}

.card {
	margin: 1rem;
  min-width: 200px;
  width: 200px;
	height: 200px;
	display: flex;
  	position: relative;
  border-radius: 2rem;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: black;
    align-items: center;
    justify-content: center;
    transition: transform 500ms ease-in-out;
    background-color: rgba(250, 202, 210, 0.609);
	
}

.subtitle {
  margin-bottom: 1rem;
}

.card:hover {
    transform: scale(1.05)
}

.modal-open {
  position: fixed;
  overflow: hidden;
}

@media (max-width: 35rem) {
	.wrapper {
		overflow-x: auto;
	}

	.carousel {
		overflow-x: scroll;
	}
  .toptitle {
    margin: 1rem;
    font-size: clamp(5vw, 5rem, 4vw);
      
  }

  .subtitle {
    font-size: x-small;
  }
  .title {
    font-size: medium;
    margin-top: 1rem;
    
  }

  
}
